<div class="wrapper" id="wrapper">
	<nav class="nav" (clickOutside)="showSidebar = false">
		<ul class="nav__ul container" [class._active]="showSidebar">
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					(click)="showSidebar = false"
					routerLink="/bodies"
					class="nav__a"
				>
					<span class="material-icons">group</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/create-body"
					class="nav__a"
					(click)="hideSidebar()"
				>
					<span class="material-icons">add_circle_outline</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/body-profile"
					class="nav__a"
					(click)="hideSidebar()"
				>
					<span class="material-icons">account_circle</span>
				</a>
			</li>
			<li class="nav__li _burger" (click)="showSidebar = !showSidebar">
				<a class="nav__toggle" [class._active]="showSidebar">
					<span class="nav__toggle-line"></span>
				</a>
			</li>
		</ul>
	</nav>

	<div class="main" [class.showTable]="showSidebar">
		<div class="fade" [@showInOut]="showSidebar" *ngIf="showSidebar"></div>
		<div class="nav__burger _active" [class._active]="showSidebar">
			<div class="nav__burger-list">
				<div class="theme-switch">
					<span
						class="material-icons"
						*ngIf="!us.mode"
						(click)="us.setMode('dark')"
					>
						dark_mode
					</span>
					<span
						class="material-icons"
						*ngIf="us.mode"
						(click)="us.setMode()"
					>
						light_mode
					</span>
				</div>
				<a
					class="nav__burger-link nav__burger-user"
					routerLink="/profile"
				>
					<img
						[src]="forceAvatarUrl || us.user.thumb ? url + us.user.thumb : 'assets/default.png'"
						(error)="forceAvatarUrl = 'assets/default.png'"
						alt="Profile Picture"
						class="avatar__img"
						height="50"
						width="50"
					/>
					<div class="name">{{us.user.name || "Profile"}}</div>
				</a>
				<hr />
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/users"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">people</span>
					<span translate>Theme.Users</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/forms"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">backup_table</span>
					<span translate>Theme.Forms</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/admin/translates"
					class="nav__burger-link"
					*ngIf="us.role('admin')"
					(click)="hideSidebar()"
				>
					<span class="material-icons">translate</span>
					<span translate>Theme.Translates</span>
				</a>
				<hr *ngIf="us.role('admin')" />
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/body"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">home</span>
					<span translate>Theme.Body</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/bodytarget"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">flag</span>
					<span translate>Theme.Target</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/bodyhabit"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">calendar_today</span>
					<span translate>Theme.Habit</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/bodymood"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">mood</span>
					<span translate>Theme.Mood</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/bodystress"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">self_improvement</span>
					<span translate>Theme.Stress</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/bodysleep"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">bedtime</span>
					<span translate>Theme.Sleep</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/bodyexercise"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">fitness_center</span>
					<span translate>Theme.Exercise</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/bodyfood"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">fastfood</span>
					<span translate>Theme.Food</span>
				</a>
				<a
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="_activeLink"
					routerLink="/bodyweight"
					class="nav__burger-link"
					(click)="hideSidebar()"
				>
					<span class="material-icons">monitor_weight</span>
					<span translate>Theme.Weight</span>
				</a>
				<hr>
			</div>
		</div>
		<router-outlet></router-outlet>
	</div>
</div>
